examples/GPS constellation.json
[{"id":"3a5cb6e3.dcc96a","type":"function","z":"a5247de1.17c69","name":"Extract LatLon","func":"var mapPin = {\n    name: msg.payload[20].name,\n    lat: msg.payload[20].position.lat,\n    lon: msg.payload[20].position.lon,\n    icon: \"satellite\"\n}\nmsg.payload = mapPin;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":680,"wires":[["185236dc.862309"]]},{"id":"7055749e.b23aac","type":"timearray","z":"a5247de1.17c69","plus":"20","minus":"20","samples":"40","name":"","x":320,"y":400,"wires":[["97265ae8.579bc8","30f9d43f.21df1c","f418443.98959b8","bf2f5b17.830ac8","3de7c5f.368443a","b45811fc.7c729","360268ab.729b98","bd283359.a1d8e","92199a16.6eb8a8","cd0c860f.2e0a48","e7689a63.a66fb8","5a58609a.27936","752782bd.307efc","85e63c5f.e62c2","31f333c4.0b509c","d9106c2d.be95","8550933.371d87","ca7ae0bd.595f6","bdb3c0d4.558c6","f6af5ff5.36cca","61bc5c65.f11a14","2b968782.ff90c8","4305904c.a4695","9360e8f6.e26998","ed8166ba.5b6938","e9c0bf25.7b92a","30cc5599.fb671a","6a6124d1.a9486c","e0acecf6.cae03","79fc7c75.364af4","e65ca756.0e8528"]]},{"id":"24bae263.e59a7e","type":"function","z":"a5247de1.17c69","name":"Convert to Path","func":"var points = msg.payload;\nvar path = {\n    name: 'path' + msg.payload[0].name,\n    line: []\n};\nfor (var i = 0; i < points.length; i++) {\n    // [[lat, lon], [lat, lon]]\n    path.line.push([points[i].position.lat, points[i].position.lon])\n}\n\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":720,"wires":[["185236dc.862309"]]},{"id":"185236dc.862309","type":"worldmap","z":"a5247de1.17c69","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":550,"y":700,"wires":[]},{"id":"5a58609a.27936","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-1  (PRN 25)","name":"","x":1140,"y":80,"wires":[["53ad7c4c.02f314"]]},{"id":"b45811fc.7c729","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-2  (PRN 01)","name":"","x":1140,"y":140,"wires":[["53ad7c4c.02f314"]]},{"id":"3de7c5f.368443a","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-3  (PRN 24)","name":"","x":1140,"y":200,"wires":[["53ad7c4c.02f314"]]},{"id":"bf2f5b17.830ac8","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-4  (PRN 27)","name":"","x":1140,"y":260,"wires":[["53ad7c4c.02f314"]]},{"id":"f418443.98959b8","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-5  (PRN 30)","name":"","x":1140,"y":320,"wires":[["53ad7c4c.02f314"]]},{"id":"30f9d43f.21df1c","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-6  (PRN 06)","name":"","x":1140,"y":380,"wires":[["53ad7c4c.02f314"]]},{"id":"97265ae8.579bc8","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-7  (PRN 09)","name":"","x":1140,"y":440,"wires":[["53ad7c4c.02f314"]]},{"id":"360268ab.729b98","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-8  (PRN 03)","name":"","x":1140,"y":500,"wires":[["53ad7c4c.02f314"]]},{"id":"bd283359.a1d8e","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-9  (PRN 26)","name":"","x":1140,"y":560,"wires":[["53ad7c4c.02f314"]]},{"id":"92199a16.6eb8a8","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-10  (PRN 08)","name":"","x":1140,"y":620,"wires":[["53ad7c4c.02f314"]]},{"id":"cd0c860f.2e0a48","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIF-11  (PRN 10)","name":"","x":1140,"y":680,"wires":[["53ad7c4c.02f314"]]},{"id":"e7689a63.a66fb8","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIA-23 (PRN 18)","name":"","x":1140,"y":740,"wires":[["53ad7c4c.02f314"]]},{"id":"9c9626fc.8c6648","type":"inject","z":"a5247de1.17c69","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":130,"y":400,"wires":[["7055749e.b23aac"]]},{"id":"53ad7c4c.02f314","type":"link out","z":"a5247de1.17c69","name":"","links":["e37aa073.6f08"],"x":1495,"y":400,"wires":[]},{"id":"e37aa073.6f08","type":"link in","z":"a5247de1.17c69","name":"","links":["53ad7c4c.02f314"],"x":220,"y":700,"wires":[["3a5cb6e3.dcc96a","24bae263.e59a7e"]]},{"id":"752782bd.307efc","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIA-23 (PRN 18)","name":"","x":880,"y":80,"wires":[["53ad7c4c.02f314"]]},{"id":"85e63c5f.e62c2","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-2  (PRN 13)","name":"","x":880,"y":140,"wires":[["53ad7c4c.02f314"]]},{"id":"31f333c4.0b509c","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-3  (PRN 11)","name":"","x":880,"y":200,"wires":[["53ad7c4c.02f314"]]},{"id":"d9106c2d.be95","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-4  (PRN 20)","name":"","x":880,"y":260,"wires":[["53ad7c4c.02f314"]]},{"id":"8550933.371d87","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-5  (PRN 28)","name":"","x":880,"y":320,"wires":[["53ad7c4c.02f314"]]},{"id":"ca7ae0bd.595f6","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-6  (PRN 14)","name":"","x":880,"y":380,"wires":[["53ad7c4c.02f314"]]},{"id":"bdb3c0d4.558c6","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-8  (PRN 16)","name":"","x":880,"y":440,"wires":[["53ad7c4c.02f314"]]},{"id":"f6af5ff5.36cca","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-9  (PRN 21)","name":"","x":880,"y":500,"wires":[["53ad7c4c.02f314"]]},{"id":"61bc5c65.f11a14","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-10 (PRN 22)","name":"","x":880,"y":560,"wires":[["53ad7c4c.02f314"]]},{"id":"2b968782.ff90c8","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-11 (PRN 19)","name":"","x":880,"y":620,"wires":[["53ad7c4c.02f314"]]},{"id":"4305904c.a4695","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-12 (PRN 23)","name":"","x":880,"y":680,"wires":[["53ad7c4c.02f314"]]},{"id":"9360e8f6.e26998","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIR-13 (PRN 02)","name":"","x":880,"y":740,"wires":[["53ad7c4c.02f314"]]},{"id":"ed8166ba.5b6938","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIRM-1 (PRN 17)","name":"","x":630,"y":220,"wires":[["53ad7c4c.02f314"]]},{"id":"e9c0bf25.7b92a","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIRM-2 (PRN 31)","name":"","x":630,"y":280,"wires":[["53ad7c4c.02f314"]]},{"id":"30cc5599.fb671a","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIRM-3 (PRN 12)","name":"","x":630,"y":340,"wires":[["53ad7c4c.02f314"]]},{"id":"6a6124d1.a9486c","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIRM-4 (PRN 15)","name":"","x":630,"y":400,"wires":[["53ad7c4c.02f314"]]},{"id":"e0acecf6.cae03","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIRM-5 (PRN 29)","name":"","x":630,"y":460,"wires":[["53ad7c4c.02f314"]]},{"id":"79fc7c75.364af4","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIRM-6 (PRN 07)","name":"","x":630,"y":520,"wires":[["53ad7c4c.02f314"]]},{"id":"e65ca756.0e8528","type":"satellite","z":"a5247de1.17c69","sattype":"gps-ops","satid":"GPS BIIRM-8 (PRN 05)","name":"","x":630,"y":580,"wires":[["53ad7c4c.02f314"]]}]
