examples/http-request to TLE.json
[{"id":"a02f6687.5fe938","type":"inject","z":"6eeba0c2.aa0738","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["aa8134aa.de07d"]]},{"id":"aa8134aa.de07d","type":"http request","z":"6eeba0c2.aa0738","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://celestrak.com/satcat/tle.php?CATNR=44109","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":140,"wires":[["7a94f838.bf2638"]]},{"id":"7a94f838.bf2638","type":"split","z":"6eeba0c2.aa0738","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":200,"wires":[["5d0dec89.fdb97c"]]},{"id":"72c7a1f6.adc4f8","type":"tle","z":"6eeba0c2.aa0738","satid":"BLUEWALKER 1  ","tle1":"","tle2":"2 44105  97.4795 168.9341 0059630 107.2691 253.5087 15.31277171 57050","coordsys":"latlongdeg","name":"(TLE prefilled with BLUEWALKER 1 data)","x":240,"y":400,"wires":[["d4c3c1bf.4c5c7"]]},{"id":"d4c3c1bf.4c5c7","type":"debug","z":"6eeba0c2.aa0738","name":"Message coming out of TLE node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":220,"y":460,"wires":[]},{"id":"5d0dec89.fdb97c","type":"switch","z":"6eeba0c2.aa0738","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":130,"y":260,"wires":[["6783e5bc.76f944"],["345a33aa.1c29dc"],["6c5afbc2.94460c"],["bf60f425.ddb318"]]},{"id":"6783e5bc.76f944","type":"change","z":"6eeba0c2.aa0738","name":"","rules":[{"t":"set","p":"satid","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["a6381b5.77d0be8"]]},{"id":"345a33aa.1c29dc","type":"change","z":"6eeba0c2.aa0738","name":"","rules":[{"t":"set","p":"tle1","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["a6381b5.77d0be8"]]},{"id":"6c5afbc2.94460c","type":"change","z":"6eeba0c2.aa0738","name":"","rules":[{"t":"set","p":"tle2","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[["a6381b5.77d0be8"]]},{"id":"a6381b5.77d0be8","type":"join","z":"6eeba0c2.aa0738","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":260,"wires":[["b6f3f9de.530b4"]]},{"id":"bf60f425.ddb318","type":"change","z":"6eeba0c2.aa0738","name":"set timestamp","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["a6381b5.77d0be8"]]},{"id":"794c7e77.66b708","type":"debug","z":"6eeba0c2.aa0738","name":"Message going into TLE node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":400,"wires":[]},{"id":"b6f3f9de.530b4","type":"change","z":"6eeba0c2.aa0738","name":"put timestamp back in payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"timestamp","tot":"msg"},{"t":"delete","p":"timestamp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":320,"wires":[["72c7a1f6.adc4f8","794c7e77.66b708"]]}]
