examples/ISS 3D.json
[{"id":"ede173bb.f6bf1","type":"inject","z":"d851ca45.27ae38","name":"Now","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":150,"y":160,"wires":[["249f9ed7.3b0442","5d0a5f57.b44918"]]},{"id":"249f9ed7.3b0442","type":"satellite","z":"d851ca45.27ae38","sattype":"stations","satid":"ISS (ZARYA)","name":"","x":470,"y":160,"wires":[["b5626edd.a7fa08"]]},{"id":"5d0a5f57.b44918","type":"timearray","z":"d851ca45.27ae38","plus":"1","minus":"15","samples":"15","name":"","x":300,"y":200,"wires":[["249f9ed7.3b0442"]]},{"id":"b5626edd.a7fa08","type":"earth","z":"d851ca45.27ae38","name":"","x":630,"y":160,"wires":[]}]
