examples/ISS worldmap.json
[{"id":"6513b9f2.49887","type":"inject","z":"d851ca45.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":70,"y":360,"wires":[["20091397.2b9a94","1d8bf1f0.400e8e"]]},{"id":"20091397.2b9a94","type":"satellite","z":"d851ca45.27ae38","sattype":"stations","satid":"ISS (ZARYA)","name":"","x":350,"y":360,"wires":[["87dcf39b.29c948"]]},{"id":"1d8bf1f0.400e8e","type":"timearray","z":"d851ca45.27ae38","plus":"10","minus":"10","samples":"40","name":"","x":280,"y":440,"wires":[["bd12f513.d1167"]]},{"id":"87dcf39b.29c948","type":"function","z":"d851ca45.27ae38","name":"Extract LatLon","func":"var mapPin = {\n    name: msg.payload.name,\n    lat: msg.payload.position.lat,\n    lon: msg.payload.position.lon,\n    icon: \"satellite\"\n}\nmsg.payload = mapPin;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["5857b34e.13e5dc"]]},{"id":"bd12f513.d1167","type":"satellite","z":"d851ca45.27ae38","sattype":"stations","satid":"ISS (ZARYA)","name":"","x":450,"y":440,"wires":[["98be1419.6c309"]]},{"id":"5857b34e.13e5dc","type":"worldmap","z":"d851ca45.27ae38","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","panit":"false","x":890,"y":360,"wires":[]},{"id":"98be1419.6c309","type":"function","z":"d851ca45.27ae38","name":"Convert to Path","func":"var points = msg.payload;\nvar path = {\n    name: 'Path',\n    line: []\n};\nfor (var i = 0; i < points.length; i++) {\n    // [[lat, lon], [lat, lon]]\n    path.line.push([points[i].position.lat, points[i].position.lon])\n}\n\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["5857b34e.13e5dc"]]}]
