examples/ISS-worldmap.json
[{"id":"d5a0bb44.b752b8","type":"inject","z":"3fb9017f.c046fe","name":"Now","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":77,"y":190,"wires":[["39f722d8.96543e","7deca758.2bd508"]]},{"id":"39f722d8.96543e","type":"satellite","z":"3fb9017f.c046fe","satid":"ISS","tle1":"1 25544U 98067A   17117.89041289 -.00158687  00000-0 -24621-2 0  9992","tle2":"2 25544  51.6432 289.0003 0006055 101.4704 344.3366 15.53834686 53936","name":"ISS","x":352,"y":191,"wires":[["4e1d9f4.669a46"]]},{"id":"7deca758.2bd508","type":"timearray","z":"3fb9017f.c046fe","plus":"20","minus":"20","samples":"40","name":"","x":215,"y":158,"wires":[["39f722d8.96543e"]]},{"id":"4e1d9f4.669a46","type":"switch","z":"3fb9017f.c046fe","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":415,"y":248,"wires":[["aeb0b6ea.3c0bc8"],["8c5fd04c.2f2c9"]]},{"id":"aeb0b6ea.3c0bc8","type":"function","z":"3fb9017f.c046fe","name":"Convert to Path","func":"var path = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    path.push([msg.payload[i].position.lat, msg.payload[i].position.lon])\n}\n\nmsg.payload = {\n    name : 'ISS Route',\n    line : path\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":584,"y":212,"wires":[["562c72c1.8bf5ac"]]},{"id":"8c5fd04c.2f2c9","type":"function","z":"3fb9017f.c046fe","name":"Convert to Point","func":"var sat = msg.payload;\n\nmsg.payload = {\n    name: sat.name,\n    lat: sat.position.lat, \n    lon: sat.position.lon, \n    alt: parseInt(sat.position.alt)/1000 + 'km'\n}\nreturn msg;","outputs":1,"noerr":0,"x":584,"y":278,"wires":[["562c72c1.8bf5ac"]]},{"id":"562c72c1.8bf5ac","type":"worldmap","z":"3fb9017f.c046fe","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","panit":"false","x":776,"y":245,"wires":[]}]
