examples/ISS-worldmap.json
[{"id":"13e6c7a8.d14858","type":"worldmap","z":"a5247de1.17c69","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","panit":"false","x":990,"y":300,"wires":[]},{"id":"3a5cb6e3.dcc96a","type":"function","z":"a5247de1.17c69","name":"Extract LatLon","func":"var mapPin = {\n    name: msg.payload.name,\n    lat: msg.payload.position.lat,\n    lon: msg.payload.position.lon,\n}\nmsg.payload = mapPin;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["13e6c7a8.d14858"]]},{"id":"24bae263.e59a7e","type":"function","z":"a5247de1.17c69","name":"Convert to Path","func":"var points = msg.payload;\nvar path = {\n    name: 'Path',\n    line: []\n};\nfor (var i = 0; i < points.length; i++) {\n    // [[lat, lon], [lat, lon]]\n    path.line.push([points[i].position.lat, points[i].position.lon])\n}\n\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":380,"wires":[["13e6c7a8.d14858"]]},{"id":"e0ca8ceb.2e0e7","type":"satellite","z":"a5247de1.17c69","sattype":"stations","satid":"ISS (ZARYA)","name":"","x":450,"y":300,"wires":[["3a5cb6e3.dcc96a"]]},{"id":"6b854425.ca81fc","type":"satellite","z":"a5247de1.17c69","sattype":"stations","satid":"ISS (ZARYA)","name":"","x":550,"y":380,"wires":[["24bae263.e59a7e"]]},{"id":"571933d9.a6705c","type":"inject","z":"a5247de1.17c69","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":170,"y":300,"wires":[["e0ca8ceb.2e0e7","7055749e.b23aac"]]},{"id":"7055749e.b23aac","type":"timearray","z":"a5247de1.17c69","plus":"10","minus":"10","samples":"40","name":"","x":380,"y":380,"wires":[["6b854425.ca81fc"]]}]
