examples/ISS-worldmap.json
[{"id":"fd46a770.568668","type":"inject","z":"56eb633a.b0a2dc","name":"Now","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":145,"y":113,"wires":[["95558d40.735c8","f3733a2a.f30718"]]},{"id":"95558d40.735c8","type":"timearray","z":"56eb633a.b0a2dc","plus":"10","minus":"10","samples":"20","name":"+/-10min","x":282,"y":87,"wires":[["f3733a2a.f30718"]]},{"id":"f3733a2a.f30718","type":"satellite","z":"56eb633a.b0a2dc","satid":"ISS","tle1":"1 25544U 98067A   17117.89041289 -.00158687  00000-0 -24621-2 0  9992","tle2":"2 25544  51.6432 289.0003 0006055 101.4704 344.3366 15.53834686 53936","name":"ISS","x":330,"y":142,"wires":[["8952546b.472f48"]]},{"id":"8952546b.472f48","type":"latlng","z":"56eb633a.b0a2dc","name":"","x":413,"y":191,"wires":[["e9d081c6.5d46b"]]},{"id":"e9d081c6.5d46b","type":"switch","z":"56eb633a.b0a2dc","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":507,"y":241,"wires":[["cbf09747.50fe28"],["5810e4eb.31e16c"]]},{"id":"5810e4eb.31e16c","type":"worldmap","z":"56eb633a.b0a2dc","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","panit":"false","x":760,"y":261,"wires":[]},{"id":"cbf09747.50fe28","type":"function","z":"56eb633a.b0a2dc","name":"Convert to Path","func":"var path = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    path.push([msg.payload[i].lat, msg.payload[i].lon])\n}\n\nmsg.payload = {\n    name : 'ISS Route',\n    line : path\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":656,"y":206,"wires":[["5810e4eb.31e16c"]]}]
