examples/ISS.json
[{"id":"762ab981.ad5938","type":"inject","z":"3fb9017f.c046fe","name":"Now","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":166,"y":396,"wires":[["53ed51f5.ed70a"]]},{"id":"53ed51f5.ed70a","type":"satellite","z":"3fb9017f.c046fe","satid":"ISS","tle1":"1 25544U 98067A   17117.89041289 -.00158687  00000-0 -24621-2 0  9992","tle2":"2 25544  51.6432 289.0003 0006055 101.4704 344.3366 15.53834686 53936","name":"ISS","x":332,"y":396,"wires":[["ea558ad6.d8a168"]]},{"id":"ea558ad6.d8a168","type":"earth","z":"3fb9017f.c046fe","name":"","x":494,"y":396,"wires":[]}]
