examples/ISS.json
[{"id":"b0b7f119.4d42","type":"inject","z":"3fb9017f.c046fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":116,"y":226,"wires":[["21fc875c.4a06a8"]]},{"id":"21fc875c.4a06a8","type":"satellite","z":"3fb9017f.c046fe","satid":"ISS","tle1":"1 25544U 98067A   17117.89041289 -.00158687  00000-0 -24621-2 0  9992","tle2":"2 25544  51.6432 289.0003 0006055 101.4704 344.3366 15.53834686 53936","name":"","x":290,"y":235,"wires":[["71b45e35.06345","738edac4.641a34"]]},{"id":"71b45e35.06345","type":"debug","z":"3fb9017f.c046fe","name":"","active":true,"console":"false","complete":"false","x":508,"y":184,"wires":[]},{"id":"738edac4.641a34","type":"earth","z":"3fb9017f.c046fe","name":"","x":479,"y":283,"wires":[]}]