examples/set Satellite and TLE via msg.json
[{"id":"38f24d6f.34ea22","type":"inject","z":"f2e687f3.0226f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":900,"wires":[["8be7fffc.68429"]]},{"id":"8be7fffc.68429","type":"http request","z":"f2e687f3.0226f8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://celestrak.com/satcat/tle.php?CATNR=44109","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":900,"wires":[["d7436d28.ae88e"]]},{"id":"d7436d28.ae88e","type":"function","z":"f2e687f3.0226f8","name":"Move the data to the override values","func":"var p = msg.payload.split(\"\\n\");\nmsg.satid = p[0]\nmsg.tle1 =  p[1]\nmsg.tle2 =  p[2]\nmsg.payload = Date.now()\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":900,"wires":[["f93a8f4b.432d6"]]},{"id":"f93a8f4b.432d6","type":"tle","z":"f2e687f3.0226f8","satid":"BLUEWALKER 1  ","tle1":"","tle2":"2 44105  97.4795 168.9341 0059630 107.2691 253.5087 15.31277171 57050","coordsys":"latlongdeg","name":"(TLE prefilled with BLUEWALKER 1 data)","x":300,"y":960,"wires":[["a1e0e91f.905808"]]},{"id":"a1e0e91f.905808","type":"debug","z":"f2e687f3.0226f8","name":"Message coming out of TLE node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":960,"wires":[]}]