examples/TLE using http-request.json
[{"id":"f7fe6450.9276b8","type":"inject","z":"ae5ddf35.d207","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["430e2c33.47bc54"]]},{"id":"430e2c33.47bc54","type":"http request","z":"ae5ddf35.d207","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://celestrak.com/satcat/tle.php?CATNR=44109","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":300,"wires":[["ea5a9d7e.d55be8"]]},{"id":"ea5a9d7e.d55be8","type":"split","z":"ae5ddf35.d207","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":360,"wires":[["3ad99d04.972882"]]},{"id":"3ba481d8.ac070e","type":"tle","z":"ae5ddf35.d207","satid":"M6P","tle1":"1 44109U 19018AF  20099.13260841  .00002228  00000-0  73746-4 0  9997","tle2":"2 44109  97.4708 168.0219 0060915 100.5916 315.6514 15.30648385 56824","coordsys":"latlongdeg","name":"","x":130,"y":560,"wires":[["3a2d4ef5.72f2a2"]]},{"id":"3a2d4ef5.72f2a2","type":"debug","z":"ae5ddf35.d207","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":620,"wires":[]},{"id":"3ad99d04.972882","type":"switch","z":"ae5ddf35.d207","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":130,"y":420,"wires":[["a1480d7a.f1f94"],["5608bb5.0d34fc4"],["eb8bf9ca.b4a63"],["b202c21e.2e4568"]]},{"id":"a1480d7a.f1f94","type":"change","z":"ae5ddf35.d207","name":"","rules":[{"t":"set","p":"satid","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":360,"wires":[["2200b141.a8392e"]]},{"id":"5608bb5.0d34fc4","type":"change","z":"ae5ddf35.d207","name":"","rules":[{"t":"set","p":"tel1","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":400,"wires":[["2200b141.a8392e"]]},{"id":"eb8bf9ca.b4a63","type":"change","z":"ae5ddf35.d207","name":"","rules":[{"t":"set","p":"tel2","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":440,"wires":[["2200b141.a8392e"]]},{"id":"2200b141.a8392e","type":"join","z":"ae5ddf35.d207","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":420,"wires":[["3ba481d8.ac070e"]]},{"id":"b202c21e.2e4568","type":"change","z":"ae5ddf35.d207","name":"set timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":480,"wires":[["2200b141.a8392e"]]}]
